body {
    background-color: var(--aqua-blue);

    .login-page {
        // border: 1px solid var(--silver-lake);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        margin: auto;

        .header {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1,
            h3 {
                text-align: center;
                font-weight: 100;
                padding: 5px 0;
                margin: 0;

                .switch-login {
                    all: unset;
                    text-decoration: underline;
                    text-underline-offset: 2px;
                    font-size: large;
                    cursor: pointer;
                    color: var(--russian-violet);

                    transition: color 0.3s;
                    &:hover {
                        color: var(--aqua-blue);
                    }
                }
            }

            h3 {
                font-weight: 400;
                color: var(--silver-lake);
            }
        }

        .divider {
            width: 500px;
            height: 0.5px;
            background-color: var(--silver-lake);
            margin: 20px 0 10px 0;
        }

        .login-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
            max-width: 500px;

            .login-form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80%;
                padding: 20px;

                input {
                    width: 100%;
                    padding: 10px;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    border: 1px solid var(--silver-lake);
                    font-size: 16px;
                }

                .error-message {
                    color: red;
                    font-size: 12px;
                    margin-bottom: 5px;
                }

                .login {
                    cursor: pointer;
                    border: none;
                    background-color: var(--aqua-blue);
                    color: var(--floral-white);
                    padding: 10px;
                    width: 105%;
                    box-sizing: border-box;
                    border-radius: 5px;

                    transition: transform 0.2s ease, box-shadow 0.2s ease;

                    &:hover {
                        transform: scale(1.025);
                        box-shadow: 0 4px 16px rgba(12, 192, 223, 0.2);
                    }
                }
            }
        }

    }
}

