body {
    padding: 0;
    margin: 0;

    nav {
        display: flex;
        justify-content: space-between;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        .left-tabs {
            padding: 30px 40px;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
            align-items: center;
            

            a {
                all: unset;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                .logo {
                    height: 50px;
                }
            }
        }

        .right-tabs {
            padding: 30px 40px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a {
                all: unset;
                cursor: pointer;
            }

            .profile {
                background-color: var(--aqua-blue);

                &.clicked {
                    background-color: var(--floral-white);
                    color: var(--aqua-blue);
                    box-shadow: 0 4px 16px rgba(91, 133, 170, 0.2);
                }

                color: var(--floral-white);
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    box-shadow: 0 4px 16px rgba(91, 133, 170, 0.2);
                }

                span {
                    margin-right: 10px;
                    margin-bottom: 2px;
                }
            }

            .about {
                margin-right: 20px;
            }
        }
    }
}

.profile-dropdown {
    color: black;
    position: absolute;
    top: 80px;
    right: 40px;
    border-radius: 3px;
    border: none;
    background: floralwhite;
    min-width: 120px;
    z-index: 100;
    display: flex;
    flex-direction: column;

    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.1);

    button {
        display: flex;
        justify-content: space-around;
        padding: 8px 12px;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        width: 100%;
        gap: 2px;

    }
    button:hover {
        background: #f0f0f0;
    }
}