body {
    padding: 0;
    margin: 0;

    nav {
        background-color: floral-white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: larger;

        .left-tabs {
            padding: 30px 40px;
            display: flex;
            gap: 10px;

            a {
                all: unset;
                cursor: pointer;
                padding: 10px 15px;
                border-radius: 10px;

                .logo {
                    height: 50px;
                }
            }
            a:hover {
                background-color: #ccc;
            }
        }

        .right-tabs {
            padding: 30px 40px;

            a {
                all: unset;
                cursor: pointer;
            }

            .profile {
                cursor: pointer;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                padding: 10px 15px;
                border-radius: 10px;

                
                
                svg {
                    margin-left: 10px;
                    margin-bottom: 0;
                }
                
            }
            .profile:hover {
                background-color: #ccc;
            }
        }
    }
}

.profile-dropdown {
    color: black;
    position: absolute;
    top: 65px;
    right: 20px;
    border-radius: 3px;
    background: floralwhite;
    border: 1px solid #ccc;
    min-width: 120px;
    z-index: 100;
    display: flex;
    flex-direction: column;

    button {
        display: flex;
        justify-content: space-around;
        padding: 8px 12px;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;
        width: 100%;
        gap: 2px;

    }
    button:hover {
        background: #f0f0f0;
    }
}