$floral-white: #FFFCF2;
$russian-violet: #0B0033;
$silver-lake: #5B85AA;

body {
    padding: 0;
    margin: 0;

    .nav-container {
    background-color: $floral-white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;

        nav {
            display: flex;
            justify-content: space-between;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: larger;

            .left-tabs {
                padding: 30px;

                a {
                    all: unset;
                    cursor: pointer;

                    .logo {
                        height: 40px;
                    }
                }
            }

            .right-tabs {
                padding: 30px 40px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                a {
                    all: unset;
                    cursor: pointer;
                }

                .about {
                    margin-right: 20px;
                }
            }
        }
    }
}