$floral-white: #FFFCF2;
$russian-violet: #0B0033;
$silver-lake: #5B85AA;
$aqua-blue: #0cc0df;

.service-box {
    border: 1px solid $silver-lake;
    border-radius: 8px;
    margin: 5px 10px;
    width: 90%;
    max-width: 800px;
    display: flex;
    padding: 12px;
    justify-content: space-between;

    
    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .left-items {
        h2 {
            margin-left: 40px; 
            font-weight: normal;
            margin-bottom: 20px;
            color: $russian-violet;
        }

        h3 {
            margin-left: 40px; 
            font-weight: 100;
            margin-bottom: 20px;
            color: $russian-violet;
        }
    }

    .right-items {
        .delete-btn {
            all: unset;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $silver-lake;
            margin-right: 40px;
            margin-top: 20px;
            
            transition: transform 0.2s ease, box-shadow 0.2s ease;

            svg {
                width: 25px;
                height: 25px;
            }
            
            &:hover {
                color: red;
                transform: scale(1.025);
                filter: drop-shadow(0 4px 16px rgba(12, 192, 223, 0.2));
            }
        }
    }


}